<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./views/css/reset.css">
  <link rel="stylesheet" href="./views/css/style.css">

</head>
<body>
  <!-- Внутри тега ренедрим игру -->
  <div class="game-field"></div>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="./views/dist/rx.all.min.js"></script>
  <script>
    // ренедерим начальные данне (JSON) на сервере и вставляем в переменную JS
    var initGameString = '{{init | raw}}';
  </script>
  <script src="./views/dist/bundle.js"></script>
</body>
</html>
