.game-field {
  background: url("../imgs/bg.jpg") no-repeat;
  min-width: 1000px;
  min-height: 670px;
}
.game-field .game-button {
  position: absolute;
  left: 820px;
  top: 250px;
  width: 100px;
  height: 130px;
  z-index: 200;
  border: 3px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
  background-color: #63FFB6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#63FFB6), to(#1D4A35));
  background-image: -webkit-linear-gradient(top, #63FFB6, #1D4A35);
  background-image: -moz-linear-gradient(top, #63FFB6, #1D4A35);
  background-image: -ms-linear-gradient(top, #63FFB6, #1D4A35);
  background-image: -o-linear-gradient(top, #63FFB6, #1D4A35);
  background-image: linear-gradient(to bottom, #63FFB6, #1D4A35);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#63FFB6, endColorstr=#1D4A35);
}
.game-field .game-button:hover {
  cursor: pointer;
  border: 1px solid #0FBC66;
  background-color: #20A868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#20A868), to(#000000));
  background-image: -webkit-linear-gradient(top, #20A868, #000000);
  background-image: -moz-linear-gradient(top, #20A868, #000000);
  background-image: -ms-linear-gradient(top, #20A868, #000000);
  background-image: -o-linear-gradient(top, #20A868, #000000);
  background-image: linear-gradient(to bottom, #20A868, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#20A868, endColorstr=#000000);
}
.game-field #pimpa {
  position: absolute;
  width: 35px;
  height: 37px;
  left: 210px;
  top: 130px;
  background-image: url("../imgs/pimpa.png");
}
.game-field .hands {
  position: absolute;
  width: 540px;
  height: 240px;
  left: 350px;
  top: 200px;
  z-index: 100;
}
.game-field .hands .hand {
  float: left;
  width: 45px;
  height: 240px;
  background: url("../imgs/handsAnim.png") left center no-repeat;
}
.game-field .hands .handsAnim {
  width: 77px;
}
.game-field .text-dice {
  position: absolute;
  left: 315px;
  top: 295px;
  font-weight: bold;
  color: #6a4;
  font-family: Arial, sans-serif;
  font-size: 28px;
}
.game-field .dice {
  visibility: hidden;
  position: absolute;
  width: 66px;
  height: 66px;
  left: 640px;
  top: 360px;
  background: url("../imgs/cube.png") no-repeat;
  backgroun-position-x: 0px;
  backgroun-position-y: 0px;
  z-index: 150;
}
.game-field .score {
  position: absolute;
  color: #ee2;
  font-size: 24px;
  font-family: Arial, sans-serif;
  width: 70px;
  height: 70px;
  left: 485px;
  top: 332px;
}
.game-field .score .total-score {
  margin-top: 26px;
}
