<div class="game-field" ng-controller="gameController">
  <div class="field">
    <div id="pimpa"></div>
    <div class="hands">
      <div class="hand"  style="visibility:hidden" ng-repeat="hand in hands | filter:{visibility:false}"></div>
      <div class="hand" ng-repeat="hand in hands | filter:{visibility:true}"></div>
      <div class="hand handsAnim" ng-if="state.movement > 0"></div>
    </div>
      <div class="text-dice"><h2><span class="value-dice">7</span> EMPTY DICE\'S<h2></div>
      <div class="score">
        <div class="bonus-score">
          <h2>0</h2>
        </div>
        <div class="total-score"><h2>0</h2></div>
      </div>
    <div class="dice"></div>
    <button class="game-button">Start</button>
  </div>
</div>


test {{ hands.length }}
